.task-card-back {
	max-width: 350px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	box-shadow: 3px 3px 10px hsla(0, 0%, 20%, 20%);
	border-radius: 3px;
	padding: 10px 20px 0 20px;
	textarea {
		width: 99%;
		border: none;
		resize: none;
	}
	.completion-bar {
		height: 20px;
		position: relative;
		margin: 0 -20px;
		table {
			position: absolute;
			bottom: 0;
			width: 100%;
			border-collapse: collapse;
			background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
			td {
				height: 6px;
				position: relative;
			}
			td:not(:last-child)::after {
				content: '';
				width: 0;
				height: 0;
				border-top: 6px solid white;
				border-left: 4px solid transparent;
				position: absolute;
				top: 0;
				right: 0;
			}
			td:not(:first-child)::before {
				content: '';
				width: 0;
				height: 0;
				border-top: 6px solid white;
				border-right: 4px solid transparent;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.completion-bar-cover {
			position: absolute;
			bottom: 0;
			height: 8px;
			right: 0;
			background: white;
			transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1); // https://easings.net/#easeOutQuint
		}
	}
	
	.box {
		border: 1px solid silver;
		padding: 5px;
	}

	.field-name {
		font-variant: small-caps;
		vertical-align: 3px;
	}

	h1 {
		font-weight: 400;
		font-size: 1.75em;
	}

	h1 input[type=checkbox] {
		transform: scale(1.75) translateY(-2.5px);
	}

	.row {
		display: flex;
		flex-direction: row;
		& > * {
			margin-left: 1em;
			flex-basis: 50%;
		}
		& > *:first-child {
			margin-left: 0;
		}
	}

	.row .field {
		min-height: 100px;
	}

	.deemphasize {
		color: hsl(0, 0%, 50%);
	}

	.chunks {
		padding-top: 5px;
		.add-chunk {
			margin-top: 5px;
			margin-left: 24px;
			color: hsl(0, 0%, 50%);
		}
	}

	h1 input[type=checkbox] {
		margin-right: 10px;
	}

	.save-notes {
		margin-bottom: 15px;
	}
	
	.due-date {
		margin-bottom: 15px;
	}
	
	.attachments {
		position: relative;
		display: flex;
		flex-direction: column;
		.attachment {
			display: flex;
			align-items: center;
			margin: 5px;
			.file-graphic {
				width: 75px;
				height: 75px;
				border: 1px dotted silver;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				background: hsl(0, 0, 85%);
				img {
					max-width: 100%;
				}
			}
			.file-name {
				margin-left: 10px;
			}
		}
	}
	.attach-file {
		margin-left: 5px;
	}
	.dropzone {
		border: 10px dashed gray;
		border-radius: 20px;
		background: hsla(0, 0%, 0, 20%);
	}

}

.task-card-front {
	position: relative;
	padding-left: 25px;
	input[type=checkbox] {
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(1.25) translateY(0px);
	}
	.details {
		@extend .deemphasize;
		margin-top: 5px;
		& > * {
			display: inline-block;
			margin-right: 10px;
		}
	}
}
