.outline {
	max-width: 500px;
	margin: auto;
	background: white;
	box-shadow: 3px 3px 10px hsla(0, 0%, 20%, 20%);
	border-radius: 3px;
	padding: 10px 20px;
}

.indent {
	margin-left: 25px;
	// border-left: 1px solid black;
}

// from chunky.scss
.task-adder {
	color: hsl(0, 0%, 50%);
	input {
		position: relative;
		top: -3px;
	}
	::placeholder {
		font-style: italic;
	}
	&::before {
		content: '';
		display: inline-block;
		width: .9em;
		height: .9em;
		border: 2px dashed silver;
		margin: 2px 7px 0 2px;
	}
	button {
		height: 1.8em;
		position: relative;
		top: -3px;
	}
}
