@import 'partials';

.outline {
	max-width: 500px;
	margin: auto;
	background: white;
	box-shadow: 3px 3px 10px hsla(0, 0%, 20%, 20%);
	border-radius: 3px;
	padding: 10px 20px;
}

.indent {
	margin-left: 25px;
	// border-left: 1px solid black;
}

.tree-node-icon {
	display: inline-block;
	font-size: 20px;
	width: 15px;
	opacity: 0;
	transition: opacity .2s;
	margin-left: -15px;
	vertical-align: top;
	line-height: 100%;
	@include doesnt-look-like-a-button;
}
.tree-node:hover {
	.tree-node-icon {
		opacity: 1;
	}
}

.task-card-front {
	display: inline-block;
}
