@import 'partials';
@import 'themes/luna';

.home-row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	@media (min-width: 700px) {
		flex-direction: row;
	}
	@media (max-width: 699px) {
		flex-direction: column;
	}
}

.hero {
	border-radius: 3px;
	padding: 1em 2em;
	@media (min-width: 700px) {
		width: 43em;
		display: flex;
		flex-direction: row;
		padding-left: 0;
		align-items: center;
		.logo {
			float: left;
			height: 170px;
			margin-right: 1em;
		}
		.text {
			margin: 0 1em;
			flex-grow: 1;
		}
		h1 {
			margin-bottom: .25em;
			display: inline-block;
		}
	}
	@media (max-width: 699px) {
		text-align: center;
	}
	.tagline {
		font-size: 1.3em;
	}
}

.buttons {
	width: 7em;
	margin: auto;
	margin-top: 40px;
	.button-link {
		display: block;
		padding: .25em;
		border: 1px solid black;
		border-radius: 2px;
		text-align: center;
		margin-bottom: .25em;
		color: white;
		text-decoration: none;
		&.primary {
			background: #af00a8;
		}
		&.secondary {
			background: #6e008a;
		}
	}
}

.page-edit-user {
	max-width: 50em;
	margin: auto;
	background: var(--card-bg-color);
	padding: 1em;
}
.page-log-in {
	width: 150px;
	margin: auto;
}
