@import 'partials';

a.task-link {
	&:link, &:visited, &:hover, &:active {
		text-decoration: none;
		color: var(--text-color);
		&.deemphasize {
			@include deemphasize;
		}
	}
}

.ancestors {
	font-size: 0.8em;
}
