<!DOCTYPE html>
<html>
  <head>
    <title>Chunky</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'chunky-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
