$text-color: white;
$text-inverse-color: white;
$text-color-deemphasize: hsl(0, 0%, 70%);
$fg-color: #844FDE;

$bg-center-color: #1C4CC2;
$bg-edge-color: #4B37CA;

$card-bg-color: #282D5A ;
$header-bg-color: #3F3F3F;

$task-progress-gradient: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet);
