body[data-theme="luna"] {
	--text-color: white;
	--text-inverse-color: white;
	--text-color-deemphasize: hsl(0, 0%, 70%);
	--fg-color: #844FDE;
	
	--bg-center-color: #091b46;
	--bg-edge-color: #151135;
	--bg: radial-gradient(583.50px at 50% 50%, var(--bg-center-color) 0%, var(--bg-edge-color) 100%);
	
	--card-bg-color: #282D5A;
	--header-bg-color: #3F3F3F;
	--nextup-bg-color: #221940;
	--nextup-fg-color: var(--text-color);
	--nextup-card-bg-color: #282D5A;
	
	--task-progress-gradient: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet);
	
	button:not(.doesnt-look-like-a-button) {
		color: var(--text-color);
		background: var(--card-bg-color);
		border: 1px solid rgba(255, 255, 255, .5);
		svg path {
			stroke: var(--text-color);
		}
	}
}
