body[data-theme='muffins'] {
	--text-color: black;
	--text-inverse-color: white;
	--text-color-deemphasize: hsl(0, 0%, 30%);
	--fg-color: #727B93  ;
	
	--bg-center-color: #E4FFFF;
	--bg-edge-color: #DEDEFF;
	--bg: radial-gradient(583.50px at 50% 50%, var(--bg-center-color) 0%, var(--bg-edge-color) 100%);
	
	--card-bg-color: white;
	--header-bg-color: #3F3F3F;
	--nextup-bg-color: #C2C5D5;
	--nextup-fg-color: #3F3F3F;
	--nextup-card-bg-color: white;
	
	--task-progress-gradient: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet);
}
