body[data-theme="pebbles"] {
	--text-color: black;
	--text-inverse-color: white;
	--text-disabled-color: gray;
	--text-color-deemphasize: hsl(0, 0%, 30%);
	--fg-color: #74528c;
	
	--button-border-color: black;
	--button-bg-color: rgb(255, 245, 195);
	
	--bg: url(/bg/rocks.jpg);
	
	--card-bg-color: rgba(255, 245, 195, 0.71);
	--header-bg-color: #3F3F3F;
	--nextup-bg-color: rgba(119, 132, 160, 0.79);
	--nextup-fg-color: var(--text-color);
	--nextup-card-bg-color: #fddd86;
	
	--task-progress-gradient: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet);
	.completion-bar-cover {
		background: rgba(255, 245, 195, 1) !important;
	}
}
