body[data-theme='summer'] {
	--text-color: black;
	--text-inverse-color: white;
	--text-color-deemphasize: hsl(0, 0%, 30%);
	--fg-color: #2FB17B;
	
	--button-border-color: #2FB17B;
	--button-bg-color: rgb(204, 255, 234);
	
	--bg-center-color: #ACE9E9;
	--bg-edge-color: #aeeeed;
	--bg: radial-gradient(583.50px at 50% 50%, var(--bg-center-color) 0%, var(--bg-edge-color) 100%);
	
	--card-bg-color: white;
	--header-bg-color: #3F3F3F;
	--nextup-bg-color: #2FB17B;
	--nextup-fg-color: var(--text-color);
	--nextup-card-bg-color: white;
	
	--task-progress-gradient: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet);
	
	.next-up-card { border: none; }
}
