body[data-theme='twilight-sparkle'] {
	--text-color: black;
	--text-inverse-color: white;
	--text-color-deemphasize: hsl(0, 0%, 30%);
	--fg-color: #74528c;
	
	--bg-center-color: #FAD8F5;
	--bg-edge-color: #EBD8FF;
	
	--card-bg-color: white;
	--header-bg-color: #3F3F3F;
	--nextup-bg-color: #74528c;
	
	--task-progress-gradient: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet);
}
